{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent() }}
	- Accueil
{% endblock %}
{% block content %}
	<ul>
		{% for product in products %}
			<li>{{ product }}</li>
		{% endfor %}
	</ul>
{% endblock %}
